.container
  .row
    .col-lg-12
      h1 Bars
      p in {{location}}
      ul.list-group
        li.list-group-item(ng-repeat='bar in $ctrl.bars')
          .row
            img.col-xs-offset-1.col-xs-10.col-sm-4.col-sm-offset-0.col-md-2(src="{{bar.image_url}}")
            div
              p.h1.text-center {{bar.name}}
              p.text-right ({{bar.phone}})
              p.col-xs-12.col-sm-8.col-md-10 {{bar.snippet_text}}
              attend(bar="{{bar.id}}")




  //.row
  //  .col-lg-12
  //    h1.page-header Features:
  //    ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in $ctrl.awesomeThings')
  //      li
  //        a(href='#', uib-tooltip='{{thing.info}}')
  //          | {{thing.name}}
