.container
  form.form-inline(ng-submit="submit(location)")
    .form-group
      input.form-control(type="text", ng-model="location", placeholder="city")
    button.btn.btn-primary(type="submit") Search

