input(type="checkbox" ng-model="going" ng-click="clicked()" ng-class="btnClass" id="{{bar_id}}")
label(for="{{bar_id}}") I'm going
span(ng-show="attending")
  span  &nbsp;People going: {{attending.length}}.&nbsp;
  span(ng-repeat="person in attending") {{person.going}}
    span(ng-if="!$last") ,&nbsp;
    span(ng-if="$last") .
